[Unit]
Description=StarLords game

[Service]
ExecStart=/root/StarLords/venv/bin/python3 /root/StarLords/main.py
WorkingDirectory=/root/StarLords
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
